<body class="index">

    <!-- Navigation Bar -->
    {{> navbar/navbar-block}}

    <div class="container home">


        <div class="jumbotron">
            <h1 class="title text-center">POCKET GURU</h1>
            <h2 class="morning-tasks-title text-center">Reading</h2>
            <p class="lead">
                Reading is an integral part of the day to keep a healthy body and mind!
            </p>
            <div class="row">
                <div class="col-6 text-center">
                    <p id="points">Great job! So far, you have earned
                        <span class="well" id="sumdisplay"></span> points today!</p>
                </div>
                <div class="col-6 text-center">
                    <p>To get all of your reading points, jump into a book for 20 minutes.</p>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Books to read -->
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="lefthead">
                        <strong>Boost that Brain!</strong>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Complete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each books}}{{#unless completed}}
                                <tr>
                                    <td>{{this.title}}</td>
                                    <td>{{this.author}}</td>
                                    <td>
                                        <button type="button" class="completeBook btn btn-warning" id="completeBook" data-id="{{this.id}}" data-newCompleted="{{completed}}">
                                            <span class="fa fa-check"></span>
                                        </button>
                                    </td>
                                </tr>
                                {{/unless}} {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Tasks to do -->

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="lefthead">
                        <strong>Read!</strong>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>Points</th>
                                    <th>Time</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each books}} {{#if completed}}
                                <tr>
                                    <td>{{this.title}}</td>
                                    <td>{{this.value}}</td>
                                    <td>{{this.estimated_time}}</td>
                                    <td>
                                        <button type="button" class="removeBook complete btn btn-warning" id="removeBook" data-id="{{this.id}}">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                {{/if}} {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-9">
            <panel>
                <form class="create-form" id="addbook">
                    <div class="form-group">
                        <label for="newbook" id="color-override">New Book:</label>
                        <input type="text" id="newbook" name="title">
                        <br>
                        <label for="newbookauthor" id="color-override">Author:</label>
                        <input type="text" id="newbookauthor" name="author">
                        <br>
                        <input type="hidden" type="text" id="category" value="Books">
                        <label for="value" id="color-override">Value:</label>
                        <input type="number" min="1" max="10" id="value" name="value">
                        <br>
                        <label for="time" id="color-override">Estimated Time:</label>
                        <input type="number" min="1" max="60" id="time" name="estimated_time">
                        <br>
                        <button type="submit" class="btn btn-success" id="addbook">
                            <span class="fa fa-thumbs-up"></span>
                        </button>
                    </div>
                </form>
            </panel>
        </div>

        {{!--
        <div class="col-sm-3">
            <panel>
                <h3>Total Points</h3>
                <div class="well">
                    <!-- need to display sum (no name, just an integer) -->
                    <span id="sumdisplay">{{#each tasks}}{{???}}{{/each}}</span>
                </div>
            </panel>
        </div> --}}

        <!-- /row -->

        <!-- /jumbotron -->

        <div class="row">



            {{!--
            <!-- Completed Tasks -->--}} {{!--
            <div class="col-sm-6">
                <div class="panel panel-default">

                    <div class="panel-heading" id="righthead">
                        <strong>Today's Achievements</strong>
                    </div>

                    <div class="panel-body">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Points</th>
                                    <th>Time</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each tasks}} {{#if completed}}
                                <tr>
                                    <td>{{this.task_name}}</td>
                                    <td>{{this.value}}</td>
                                    <td>{{this.estimated_time}}</td>
                                    <td>
                                        <button type="button" class="remove btn btn-danger" id="remove" data-id="{{this.id}}">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                {{/if}} {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div> --}}

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text {{!--
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
        </div>
    </footer>
</body>